@model Product
@{
    ViewData["Title"] = "AddNewProduct";
}

<h1>Yeni Ürün Ekle</h1>

<form method="post">
    <label>Ürün Adı</label>
    <input type="text" asp-for="ProductName" class="form-control" />
    <br />
    <label>Ürün Stoğu</label>
    <input type="text" asp-for="Stock" class="form-control" />
    <br />
    <label>Ürün Fiyatı</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <label>Kategori</label>
    <input type="text" asp-for="Category" class="form-control" />
    <br />
    <button class="btn btn-dark">Kaydet</button>
</form>
