
@{
    ViewData["Title"] = "Index";
    var value = ViewBag.v as ProductComposite ;
}

<h1>Index</h1>

<div class="container">
    <br /><br />
    <div class="row">
        <div class="col-lg-4">
            <div class="card-header">
                Toplam Ürün Sayısı: @value.TotalCount()
            </div>
            <div class="card-body">
                @foreach (var item in value.Components)
                {
                    @Html.Raw(item.Display())
                }
            </div>
        </div>
    </div>




</div>