@using DesignPattern.Repository.EntityLayer.Concrete;
@model Category
@{
    ViewData["Title"] = "UpdateCategory";
}

<h1>Kategori Düzenleme</h1>

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="CategoryId" />
        <label>Kategori Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <button class="btn btn-outline-dark">Kaydet</button>
    </form>

</div>