
@{
    ViewData["Title"] = "Index";
    var Model = ViewBag.route;
    int count = 0;
}

<h1>Rotalar</h1>


<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Ziyaret Noktası</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item</td>
        </tr>
    }
   
</table>
